@use '../../../styles/index' as *

.page
    min-height: 100vh
    padding: 8px 16px
    max-width: 1200px
    margin: 0 auto

    .details
        position: sticky
        top: 0
        z-index: 30

    .tabs
        background: #fff
        border-bottom: 1px solid #e5e5e5
        position: sticky
        top: 290px
        height: 50px
        z-index: 25

        .tab-links
            display: flex

        button
            padding: 15px 28px
            border: none
            background: transparent
            cursor: pointer
            font-size: 16px
            color: #666
            border-bottom: 2px solid transparent
            transition: 0.2s

            &:hover
                color: #000

            &.active
                color: $color-primary
                border-bottom: 2px solid $color-primary
                font-weight: 600