//Brand
$color-primary: #ea580c
$color-primary-hover: #c2410c
$color-primary-light: #ffedd5

// Text
$color-text-primary: #111827
$color-text-secondary: #6b7280
$color-text-dark: #374151
$color-text-muted: #9ca3af

// Bg
$color-bg-accent: #fee2e2
$color-bg-light-orange: #fff7ed
$color-bg-light-red: #fef2f2


// Borders
$color-border: #d1d5db

// Base
$color-white: #ffffff
$color-black: #000000
