.modal-overlay
    position: fixed
    inset: 0
    background: rgba(0,0,0,.5)
    display: flex
    justify-content: center
    align-items: center
    z-index: 1000
    width: 100%

    .modal-content
        width: 100%
        max-width: 480px
        border-radius: 16px
