<header class="header">
  <div class="container">
    <div class="left">
      <h1 class="logo">Feasto</h1>
      <div class="location">
        <fa-icon [icon]="faLocationDot"></fa-icon>
        <span>
          Deliver to:
          <strong>Current Location</strong>
        </span>
      </div>
    </div>

    <nav class="nav">
      <button class="btn btn-outline login" routerLink="/auth/login">
        <span class="signin-text">Log in</span>
      </button>
      <button class="btn btn-outline signin" routerLink="/auth/signup">
        <span class="signin-text">Sign Up</span>
      </button>
    </nav>
  </div>
</header>