<header class="header">
  <div class="container">
    <div class="left">
      <h1 class="logo">Feasto</h1>
      <div class="search">
        <div class="box">
          <div class="display" (click)="toggleLocationDropdown()">
            <fa-icon [icon]="faLocationDot"></fa-icon>
            <input type="text" [placeholder]="selectedLocation" [(ngModel)]="locationQuery"
              (input)="searchLocation()" />
          </div>
          @if(showLocationDropdown){
          <div class="dropdown">
            @if(locationResults.length === 0){
            <button class="gps-btn" (click)="detectLocation()">
              <fa-icon [icon]="faLocationCrosshairs"></fa-icon>
              <div class="gps-text">
                Detect current location
                <p>
                  Using GPS
                </p>
              </div>
            </button>
            }
            <div class="suggestions">
              @for(item of locationResults; track $index){
              <div class="suggestion" (click)="selectLocation(item)">
                {{ item.place_name }}
              </div>
              }
            </div>
          </div>
          }
        </div>
        <div class="box">
          <div class="display" (click)="toggleRestaurantDropdown()">
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            <input type="text" placeholder="Search for restaurant, cuisine or a dish" [(ngModel)]="restaurantQuery"
              (input)="searchRestaurant()" />
          </div>
          @if(showRestaurantDropdown){
          <div class="dropdown">
            <div class="suggestions">
              @for(res of restaurantResults; track $index){
              <div class="suggestion" (click)="selectRestaurant(res)">
                {{ res.name }}
              </div>
              }
            </div>
          </div>
          }
        </div>
      </div>
    </div>

    <nav class="nav">
      <button class="btn">
        <span>Support</span>
      </button>
      <button class="btn auth" (click)="openAuth.emit()">
        <span>Log in</span>
      </button>
    </nav>
  </div>
</header>