@use '../../../styles/_index' as *

.end-of-results
    margin-top: 40px
    margin-bottom: 40px
    display: flex
    align-items: center
    justify-content: center

    .content
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        gap: 12px

        fa-icon
            font-size: 64px
            color: $color-text-muted

        .title
            font-size: 32px
            font-weight: 600
            color: $color-primary

        .subtitle
            font-size: 16px
            color: $color-text-secondary
            .cta
                font-weight: 600
                color: $color-primary
                cursor: pointer
                &:hover
                    text-decoration: underline
