<footer class="footer">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-brand">
                <h4>Feasto</h4>
                <p>
                    Your favorite food delivered fast and fresh to your doorstep.
                </p>
            </div>
            <div class="footer-links">
                <h5>Company</h5>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Press</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <h5>Follow Us</h5>
                <div class="social-icons">
                    <a href="#">
                        <fa-icon [icon]="faFacebook"></fa-icon>
                    </a>
                    <a href="#">
                        <fa-icon [icon]="faTwitter"></fa-icon>
                    </a>
                    <a href="#">
                        <fa-icon [icon]="faInstagram"></fa-icon>
                    </a>
                    <a href="#">
                        <fa-icon [icon]="faYoutube"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2026 Feasto. All rights reserved.</p>
        </div>
    </div>
</footer>