@use '../../../../styles/index' as *

.breadcrumb
    max-width: 1200px
    margin: 0 auto
    font-size: 14px
    color: $color-text-muted
    padding: 8px 16px

    a
        color: #ef4f5f
        text-decoration: none

        &:hover
            text-decoration: underline
